* {
  box-sizing: border-box;
}
:root {
  --rating: 60%;
}
.product {
  display: flex;
  gap: 30px;
  padding: 10px;
  height: 200px;
  border: 5px solid red;
}

.product-foto {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}

.discount-percentage {
  background: rgb(255, 94, 0);
  color: white;
  line-height: 1.5em;
  padding: 0 10px;

  position: absolute;
  top: 0px;
  right: 0;
}

.product-name {
  color: rgb(66, 179, 255);
  font-weight: 500;
  margin-top: 5px;
}
.star-rating span {
  font-size: 25px;
  background: gold;
  background-clip: text;
  color: transparent;
}
/* document.documentElement.style.setProperty('--rating', fractionalPart * 100 + '%') */
.star-rating > .partial {
  background: linear-gradient(
    90deg,
    gold 0%,
    gold var(--rating),
    rgba(255, 215, 0, 0) var(--rating),
    rgba(255, 215, 0, 0) 100%
  );
  background-clip: text;
  color: transparent;
}

.description {
  margin-top: 20px;
}

.price {
  display: flex;
  gap: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn-add-to-cart {
  width: 150px;
  height: 30px;
  background-color: orange;
  border: none;
}
.btn-add-to-cart:active {
  background-color: rgb(255, 217, 0);
}

.hidden {
  display: none;
}
